.main__container {
    width: 100%;
    height: auto;
}
    /*about-me section*/

    .container__about-me {
        width: 100%;
        height: auto;
        background: linear-gradient(to top, var(--grad-one), var(--grad-two));
    }

        .about-me__title {
            font-size: 1.9rem;
            text-align: center;
            padding: 1rem 0.2rem;
            color: var(--font-color);
            font-weight: 700;
        }

        .about-me__subtitle {
            font-size: 1.5rem;
            font-weight: 500;
            text-align: center;
            padding: 1rem;
            color: var(--font-color);
        }

        .hidden {
            display: none;
        }

        .article__about-me {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            .article__picture {
                width: 20rem;
                height: 20rem;
                border: 0.2rem solid var(--bg-color);
                border-radius: 50%;
                background-image: url("../images/eu.jpeg");
                background-repeat: no-repeat;
                background-size: cover;
            }

            .article__ul {
                padding: 1rem;
                font-weight: 500;
                color: var(--font-color);
            }

                .article__li {
                    margin: 0.5rem;
                    font-size: 1.1rem;
                }

                    .download {
                        width: 4rem;
                    }

    /*projects section*/

    .container__projects {
        width: 100%;
        height: auto;
    }

        .projects__title {
            font-size: 1.9rem;
            text-align: center;
            padding: 1rem 0.2rem;
            color: var(--font-color);
            font-weight: 700;
        }

        .projects__subtitle {
            font-size: 1.5rem;
            font-weight: 500;
            text-align: center;
            padding: 1rem;
            color: var(--font-color);
        }

        .projects__text {
            font-weight: 400;
            color: var(--font-color);
        }

        .projects__image {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-top: 1rem;
        }

            .logo {
                width: 50px;
            }
        
        .projects__iframe {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .projects__iframe iframe {
            border: 1px solid black;
        }


/*footer container*/

.footer__container {
    width: 100vw;
    height: auto;
}
    .container__social {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
    }

        .social-links {
            width: 4rem;
            height: 4rem;
            margin: 1rem;
            border-radius: 50%;
        }

            #github {
                background-image: url("../images/github.png");
                background-repeat: no-repeat;
                background-size: cover;
            }

            #linkedin {
                background-image: url("../images/linkedin.png");
                background-repeat: no-repeat;
                background-size: cover;
            }

            #instagram {
                background-image: url("../images/instagram.png");
                background-repeat: no-repeat;
                background-size: cover;
            }

            #cv {
                background-image: url("../images/download.png");
                background-repeat: no-repeat;
                background-size: cover;
            }