@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
   /*Font*/
   --fontRoboto: 'Roboto', sans-serif;
}

.light-mode:root {
   --bg-color: #EEEDEB;
   --grad-one: #E0CCBE;
   --grad-two: #747264;
   --font-color: #3C3633;
   --link: #201658;
}

.dark-mode:root {
   --bg-color: #070F2B;
   --grad-one: #1B1A55;
   --grad-two: #535C91;
   --font-color: #d0d0e2;
   --link: #FFF67E;
}